body{
	background-image:url("night1.gif"),url("march-7th1.gif"),url("cyrene1.jpg");
	background-position:left,right,center;
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-size:auto,auto,cover;
	margin:0px;
	z-index:0;
	border:20px solid burlywood;
	height: 100vh;
	}
h1  {
	text-shadow: 4px 4px 10px black;
	color:orange;
	font-size:75px;
	text-align:center; }
p   {
	text-shadow: 4px 4px 10px black;
	color:orange;
	font-size:30px;
	text-align:center; }
img	{
	width: 300px;
	height:300px;}
a{	
	color:blue;
	font-size:30px;
	text-align:center;
	z-index: 2;}