body{
	background-image:url("night1.gif"),url("march-7th1.gif"),url("cyrene1.jpg");
	background-position:left top,right top,center;
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-size:auto,auto,cover;
	background-attachment:fixed;
	}
h1  {
	text-shadow: 4px 4px 10px black;
	color:orange;
	font-size:80px;
	text-align:center; }
p   {
	text-shadow: 4px 4px 10px black;
	color:orange;
	font-size:30px;
	text-align:center; }
img	{width: 300px;
	height:300px;}
